<h3 class="sub-header">Parcelle 1</h3>

<!-- sub nav -->
<h4 class="sub-header">
  Campagne :
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      2015 - 2016 : Blé <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">2014 - 2015 : Colza</a></li>
      <li><a href="#">2013 - 2014 : Mais</a></li>
    </ul>
  </div>
  <div class="btn-group pull-right" role="group" aria-label="...">
    <button type="button" class="btn btn-default">
      <i class="fa fa-history"></i>
    </button>
    <button type="button" class="btn btn-default">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>
</h4>

<div class="row">

  <!-- LEFT col -->
  <div class="col-sm-5">
    <div class="row">
      <leaflet width="100%" height="300px"></leaflet>
    </div>
    <div class="row">
      <dl class="dl-horizontal">
        <dt>Etat</dt>
        <dd>...</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Culture</dt>
        <dd>...</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Méthode</dt>
        <dd>...</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Variété</dt>
        <dd>...</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Type sol</dt>
        <dd>...</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Date de semis</dt>
        <dd>...</dd>
      </dl>
    </div>
  </div>

  <!-- RIGHT col -->
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading"><h5>Travaux</h5></div>
      <div class="panel-body">
        Work info
      </div>
    </div>
  </div>

</div>

<!-- Task details -->
<h4 class="sub-header">Details du travail : </h4>
